.git
.github
.pytest_cache
.ruff_cache
__pycache__
*.py[cod]
.env
.env.*
!.env.example
!.env.local.example
!.env.stage.example
!.env.prod.example
Dockerfile*
docker-compose*.yml
docs
tests
build
dist
*.egg-info
coverage
.coverage
